
/* * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *
 * General page setup
 */
#dt_data {
	font: 80%/1.45em "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
	margin: 0;
	padding: 0;
	color: #333;
	background-color: #fff;
}


#dt_data #container {
	width: 800px;
	margin: 30px auto;
	padding: 0;
}


#dt_data #footer {
	margin: 50px auto 0 auto;
	padding: 0;
}

#dt_data #data {
	margin: 30px auto 0 auto;
}

#dt_data .data_jui {
	margin: 30px auto 0 auto;
}

#dt_data .big {
	font-size: 1.3em;
	font-weight: bold;
	line-height: 1.6em;
	color: #4E6CA3;
}

#dt_data .spacer {
	height: 20px;
	clear: both;
}

#dt_data .clear {
	clear: both;
}

#dt_data pre {
	padding: 15px;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
}

#dt_data h1 {
	margin-top: 2em;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	border-bottom: 1px solid #B0BED9;
	clear: both;
}

#dt_data h2 {
	font-size: 1.2em;
	font-weight: normal;
	line-height: 1.6em;
	color: #4E6CA3;
	clear: both;
}

#dt_data a {
	color: #0063DC;
	text-decoration: none;
}

#dt_data a:hover {
	text-decoration: underline;
}

#dt_data ul {
	color: #4E6CA3;
}

.css_right {
	float: right;
}

.css_left {
	float: left;
}

.data_links {
	float: left;
	width: 50%;
	margin-bottom: 1em;
}

#data_info {
	padding: 5px;
	border: 1px solid #B0BED9;
	height: 100px;
	width: 100%;
	overflow: auto;
}