
body {
	color: black;
	background-color: white;
	font-family: verdana, helvetica, arial, sans-serif;
	font-size: 71%; /* Enables font size scaling in MSIE */
	margin: 0;
	padding: 0;
}

#header {
	color: #669933;
	background-color: #FFFFFF;
}

#headerTitle {
  font-size: 237%;
  font-weight: normal;
  position: relative;
  margin: 0 0 0 4mm;
  padding: 0.25ex 0;
  align:left;
}

.subHeader {
  color: white;
  background-color: #547D2E;
  margin: 0;
  padding: 1ex 1ex 1ex 1.5mm;
}

.subHeader a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}

.subHeader a:hover {
  text-decoration: underline;
}

.subHeaderDept {
  color: white;
  background-color: #C0C0C0;
  margin: 0;
  padding: 1ex 1ex 1ex 1.5mm;
}

.subHeaderDept a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}

.subHeaderDept a:hover {
  text-decoration: underline;
}

.clearText {
  background-color: #FFFFFF;
  width : 100%;
}


.tableData {
  color: #000000;
  background-color: #00FFFF;
  margin: 1;
  border: 1;
  padding: 1ex 1ex 1ex 1.5mm;
}


#menu {
	width: 18em;
	float: right;
	/*clear: left;*/
	border-right: 1px solid rgb(153, 153, 153);
	/*background-color: rgb(74, 136, 230);*/
	background-color: #4E9258;
	padding: 2mm 2mm 2mm 2mm;
}

#menu div {
  border-bottom: 1px solid rgb(153,153,153);
}

#side-bar a {
  color: #31430f;
  width: 16em;  
  /*background-color: transparent;*/
  background-color: #FFFFFF;
  text-decoration: none;
  margin-top: 0pt; 
  margin-right: 0pt;
  margin-bottom: 0pt;
  margin-left: 0pt;
  padding-top: 0.75em;
  padding-right: 1ex;
  padding-bottom: 0.75em;
  padding-left: 5mm;
  display: block;
}

#side-bar a:hover {
  color: white;
  background-color: #669933;
  text-decoration: none;
}

#side-bar p {
  	background-color: #FFFFFF;
  	/*background-color: #669933;*/
  	text-decoration: none;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: #669933 transparent #669933 transparent;
	border-collapse: separate;
	background-color: transparent;
}

#footer {
	color: white;
	background-color: #547D2E;
	font-size: 91%;
	margin: 0;
	padding: 1em 2.5mm 2.5ex 2.5mm;
	clear: both;
}

#footer a {
  color: white;
  background-color: transparent;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  padding: 0 0.75ex 0 0.5ex;
}

#footer a:hover {
  text-decoration: underline;
}

#content {
  color: black;
  background-color: white;
  text-align: justify;
  line-height: 1.5em;
  margin: 0 0 0 0em;
  padding-top: 5px;
  float:left;
  width:100%;

}

#content p {
  margin: 1em 1ex 2em 1ex;
  padding: 0;
}

#content h1 {
  color: white;
  background-color: #819A88;
  font-size: 14pt;
  line-height:25px;
  font-family: Garamond,Arial;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0.5ex 0 0.5ex 1ex;
}

#content h2 {
  color: white;
  background-color: #E3E1D7;
  font-size: 12pt;
  line-height:20px;
  font-family: Garamond,Arial;
  font-weight: bold;
  margin: 0 0 0 0;
  padding: 0.5ex 0 0.5ex 1ex;
}

table.search {
	margin: 1em 1ex 2em 1ex;
	font-size: 91%;
	border-width: 1px 1px 1px 1px;
	border-spacing: 0px;
	border-style: solid solid solid solid;
	border-color: black black black black;
	border-collapse: separate;
	background-color: white;
	color: #000000;	
}
table.search th {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
	color: #000000;		
}
table.search td {
	border-width: 1px 1px 1px 1px;
	padding: 1px 1px 1px 1px;
	border-style: inset inset inset inset;
	border-color: gray gray gray gray;
	background-color: white;
	-moz-border-radius: 0px 0px 0px 0px;
	color: #000000;		
}

fieldset {
  float: left;
  margin: 1em 1ex 2em 1ex;
  padding: 1em 1ex 2em 1ex;
}
div.form-row {
  clear: both;
  padding-top: 10px;
}
div.form-row label {
  float: left;
  width: 100px;
  text-align: right;
  padding: 0ex 0.5ex 0ex 0ex;
}
div.form-row input {
  float: left;
  text-align: left;
  padding: 0ex 0ex 0ex 0ex;
}
div.form-buttons {
  clear: both;
  padding-top: 10px;
  align: right;
}
div.form-buttons div.button {
  float: right;
}
